[2016-10-03 13:55] ozalexo opened #1 "BCM4360: Access Point mode"
Hello,

Is it possible to set BCM4360 device (Asus PCI-E AC68) into Access Point mode?
Currently there is no `NL80211_IFTYPE_AP` mode in the list of modes:
 `wdev->wiphy->interface_modes = BIT(NL80211_IFTYPE_STATION) | BIT(NL80211_IFTYPE_ADHOC);`

Thanks in advance.

[2016-10-04 09:20] antoineco commented on #1
AFAIK this driver does not support any operating mode other than **IBSS** and **managed**. On my machine `iw list` returns:

[code]

Unfortunately I do not own this code base, I just patched it for newer Linux kernel versions. I hope the [`brcm80211`](https://wireless.wiki.kernel.org/en/users/Drivers/brcm80211) driver will support this chipset in the future (PCI ID 14e4:43a0 just for the reference

[2016-10-04 09:20] #1 closed, assigned to nobody

[2017-05-24 14:03] arun-gurung opened #2 "Loading of module "wl" freezes my system"
I can compiled and install the module successfully, but it freezes my system. So far, after several reboots, I have come so long as to select network before it again freezes.

[2017-05-24 14:13] antoineco commented on #2
@arun-gurung what OS and kernel are you using? Did you blacklist the modules mentioned in the README? Can you provide a kernel crash dump?

[2017-05-24 14:19] arun-gurung commented on #2
I'm on CentOS 7.3 with `kernel 4.11.2-1.el7.elrepo.x86_64`. I blacklisted the mentioned modules. I deleted "wl.ko" from /lib/modules and now my system is up again. I don't know how to provide a kernel crash dump.

[2017-05-24 14:39] antoineco commented on #2
In some cases `journalctl` may display kernel related errors.

Regarding the crash dump you can take a look at https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Kernel_Crash_Dump_Guide/chap-introduction-to-kdump.html

Unfortunately without logs I can't tell you much about what may be going on. If you built from the current `patch-linux4.7` branch (with commit 358ee38a)

[2017-05-24 14:54] arun-gurung commented on #2
I downloaded the .zip file and compiled it from there. I will try to install the driver again and provide a kernel crash dump later.

[2017-05-24 15:35] arun-gurung commented on #2
Here`s the output of journalctl: [journalctl.txt](https://github.com/antoineco/broadcom-wl/files/1026106/journalctl.txt)

[2017-05-24 15:46] antoineco commented on #2
I see no crash in this dump, only `device (wlp0s20u2u4): Activation: successful, device activated` so your WiFi is up, right?

[2017-05-24 16:03] arun-gurung commented on #2
Yes, the system detects the Wifi card, but when I try to connect to a network, the system freezes.

[2017-05-24 18:44] antoineco commented on #2
But you **are** connected. Your SSID is "TT22U24" and your IP address is "192.168.1.13".

[code]

The problem must occur later, once again without any crash log I am clueless.

Can you please show me the result of:
[code]

[2017-05-24 19:24] arun-gurung commented on #2
I reinstalled CentOS as my primary system on my Macbook Air and installed kernel 4.11.2 and reinstalled your driver and it all seems to work properly now.

[root@macbook-air ~]# lspci | grep -i broadcom
02:00.0 Multimedia controller: Broadcom Limited 720p FaceTime HD Camera
03:00.0 Network controller: Broadcom Limited BCM4360 802.11ac Wireless Network Adapter (rev 03)
[root@macbook-air ~]#

[2017-05-24 19:41] antoineco commented on #2
Great, good job :) Hopefully I can make Linux work on my MacBook Air some day too.

[2017-05-24 20:25] arun-gurung commented on #2
My Macbook Air is from June 2015. Linux should work nicely on it, I have almost all my hardware working now.

[2017-05-25 01:37] arun-gurung commented on #2
The module has started freezing my system again, so I deleted wl.ko and it works again. I will try to provide a kernel crash dump when I got figured out how to do it.

[2017-06-08 21:07] antoineco commented on #2
@arun-gurung I finally got a chance to test the Linux kernel 4.11 on my Linux machine for a prolonged period of time and it's been rock stable so far after every reboot.

How does it look on your side?

[2017-06-09 14:29] arun-gurung commented on #2
I have reinstalled and my system works properly now running kernel 4.11.2. I haven't tested your driver again yet, but I will test it in a while. I hope everything works this time, so I don't have to use my dongle anymore.

[2017-06-20 15:27] arun-gurung commented on #2
I'm sad to say that I tried the module again and it still hangs my system. I cannot simply use it. I don't know how to provide a kernel crash dump yet. But thanks for the effort.

[2017-06-20 15:33] antoineco commented on #2
Too bad :(
Maybe give the [kmod-wl](http://download1.rpmfusion.org/nonfree/fedora/development/rawhide/Everything/x86_64/os/repoview/kmod-wl.html) package a try (install the [rpmfusion](http://download1.rpmfusion.org/nonfree/fedora/development/rawhide/Everything/x86_64/os/repoview/rpmfusion-nonfree-release.html) repo first). It uses the same codebase but you never know.

[2017-06-22 14:51] arun-gurung commented on #2
Thank you, I will try the kmod-wl package soon.

[2017-07-10 00:45] arun-gurung commented on #2
The weird thing is that the driver works with Linux 3.10.

[2017-08-15 01:20] WistfulAdris opened #3 "4.12 build issue"
.

[2017-08-17 23:35] agrecascino commented on #2
Can confirms this happens on gentoo livecd as of current date when building wl and performing any network activity. I'm on a macbook air mid 2013.

[2017-08-30 13:23] antoineco commented on #3
@simdol did you figure it out? The snippets you posted do not exist anymore.

[2017-10-02 09:27] #3 closed, assigned to nobody

[2017-10-08 06:53] chowbok opened #4 "Not working with Linux 4.13"
I'm using the dkms version on Arch, and when I upgraded to linux 4.13.3, the networking stopped working. Same issue with linux 4.13.4. I have no problems when I go back down to 4.12.13.

I'm not sure if this is related, but I see these messages in the journal around the time it says the adapter is inactive:

DMAR: DRHD: handling fault status reg 2
DMAR: [DMA Read] Request device [02:00.0] fault ad

[2017-10-08 07:05] chowbok commented on #4
Actually, I think I figured this out. Looks like Arch enabled CONFIG_INTEL_IOMMU_DEFAULT_ON in the latest kernel config, which broke it on my system. Also looks like they backed out that change in 4.13.5, so I'll probably be okay once they release that. Sorry for the false alarm.

[2017-10-08 07:05] #4 closed, assigned to nobody

[2017-10-08 22:07] antoineco commented on #4
It might be useful information though, I haven't used 4.13 myself yet, but I'll keep your comment in mind if I run into trouble.

[2017-12-11 10:47] arun-gurung commented on #2
Bad news: I tried with kernel 4.14 and it still freezes. Thanks for making the patch to compile the Makefile, but I believe the problem is with the closed source driver from Broadcom, because it works fine with kernel 3.10. I will send a message to Broadcom and see what they say.

[2017-12-11 10:57] antoineco commented on #2
Works for me on Linux 4.13 x86_64.
~Linux 4.14 requires another patch. I'll commit it soon.~

[2017-12-11 11:10] arun-gurung commented on #2
I will try your next patch.

Do you have a theory why it works on kernel 3.10, but not with 4.x?

[2017-12-20 08:48] antoineco commented on #2
@arun-gurung I can confirm the module works without extra patching on Linux 4.14.3. Your issue seems to be specific to the Macbook hardware but without a crash dump I can unfortunately not emit any theory.

F.Y.I. I have the same WiFi chip as you do:
[code]

[2018-01-13 02:51] laowalter opened #5 "After load wl.ko, no wl device found."
[code]

[code]

[code]

[code]

It seems no wl apter was drived.

[2018-01-13 07:53] antoineco commented on #5
`wl` is a module, not a device.

* `lsmod` shows that the module is loaded.
* `lspci`shows a broacom BCM433 adapter

What's the issue exactly?

[2018-02-13 13:31] arun-gurung commented on #2
I too have been busy, so I have no crashdump. And sending a message to Broadcom is pointless, because my WLAN chip doesn't freeze the system with kernel 3.10. Ergo, the software bug is in the 4.x wl.ko module (I think). Or at least somewhere in the Linux software, not by Broadcom. Just a theory, isn't it a wrapper around the driver or something?

[2018-02-13 14:01] #5 closed, assigned to nobody

[2018-02-13 14:06] antoineco commented on #2
I couldn't tell without any logs unfortunately. I'm using this module as we speak, every day, on an ever up-to-date kernel.

Are you absolutely sure it is WiFi related? Did you blacklist the modules mentioned in the README?

[2018-02-15 13:10] arun-gurung commented on #2
Yes, I'm 97% sure it's the wl.ko module. If you are able to use it with Linux 4.x, maybe I just have a hardware error but not likely because the WLAN chip works with Linux 3.10 and on MacOS.

[2018-02-15 13:21] antoineco commented on #2
The answer you're looking for is in the kernel crash dump :) Plain and simple.

[2018-02-15 13:22] arun-gurung commented on #2
OK, it's alright. I`ll see later about a crashdump, thanks. :-)

[2018-03-27 07:01] arun-gurung commented on #2
Still no kernel crash dump from me, but I updated to kernel 4.15 and now your patched module has been stable for several hours, so I am now very content and can finally ditch my USB wi-fi dongle. Congratulations on a job well done to the developers. :-D

[2018-03-27 07:14] antoineco commented on #2
That's encouraging! Hope you're not celebrating too fast 😆

[2018-03-27 16:10] arun-gurung commented on #2
Still not freezing after 24 hours, now. Thank you, Antoine!

Edit: I didn't lie on purpose, but it's been ca. 24 hours. I had only one crash when suspending the power by closing the laptop lid, so it's not the fault of the broadcom-wl module. I have now turned off the suspending when I'm not on battery power.
![screenshot from 2018-03-27 19-39-01](https://user-images.githubusercontent.com/28502386

[2018-03-29 11:43] arun-gurung commented on #5
wl.ko is the driver and the hardware is the device.

lsmod shows the wl driver
lspci shows the Broadcom Limited BCM4331 device

Try now with "ifconfig" and see if you have any active network interface listed.

[2018-03-29 13:05] arun-gurung opened #6 "Makefile does not compile on kernel 4.15.14"
I updated to latest 4.15.14 rpm-package and now broadcom-wl will not compile. As I said, it compiles on 4.15.13.

This kernel comes from elrepo-kernel yum repository. http://elrepo.org/tiki/kernel-ml

[2018-03-29 15:40] antoineco commented on #6
Maybe similar to #4.
Any build logs?

[2018-03-31 18:07] arun-gurung commented on #6
[code]

[2018-04-02 05:04] arun-gurung commented on #6
I updated today to mainline kernel 4.15.15 from elrepo and similar build error occurs.

[code]

[2018-04-04 07:16] antoineco commented on #6
Are you sure you're building the correct branch? I just got this kernel today from my OS repo, and everything built just fine:

[code]

[2018-04-04 07:28] arun-gurung commented on #6
I don't understand, because programming is over my head. I just installed the latest kernel from the repo and get the error.

[2018-04-04 08:01] antoineco commented on #6
This Git repository has two branches:
 * `master`: the original, non-patched driver sources from Broadcom
 * `patch-linux4.7`: (default branch) with all patches applied for Linux 4.7 up to Linux 4.15

Your build log suggests that you're currently on the `master` Git branch, according to the line numbers and function declarations, which is wrong. Please checkout `patch-linux4.7` and try again.

[2018-04-04 10:13] arun-gurung commented on #6
Thanks, you are right! I had used the master instead of patch-linux4.7, but now it compiles.

[2018-04-04 10:14] #6 closed, assigned to antoineco

[2018-04-13 03:32] arun-gurung commented on #2
Well, now the module started freezing again after updating to kernel 4.16.x.

[2018-04-14 07:25] arun-gurung commented on #2
I am sorry, having a hard time creating a kernel crash dump. I have configured it and it looks like it's set up, but I get no "vmcore" only a text file, like this and this is the messages I got in the terminal right before it hangs.
[vmcore-dmesg.txt](https://github.com/antoineco/broadcom-wl/files/1910115/vmcore-dmesg.txt)
![img_20180414_091709](https://user-images.githubusercontent.com/28502386/3

[2018-04-14 09:09] antoineco commented on #2
Looks like the `rtl8812au` module for your Realtek Wifi dongle crashed before `wl`. Could you try blacklisting it for the time being? (see README)

[2018-04-15 05:29] arun-gurung commented on #2
It didnt` help with blacklisting the rtl8811au.

[2018-04-16 07:19] arun-gurung commented on #2
I went back to kernel 4.15.9-1 and now it seems stable again.

[2018-04-17 03:05] arun-gurung commented on #2
Ah, new report: It froze again. Now I have installed the kmod-wl package from RPMfusion and it´s been stable for half an hour. Ah, programming is over my head so I have no idea what the problem could be.

[2018-12-14 06:59] arun-gurung commented on #2
My solution is this, at least on CentOS 7.6:

1: Download and compile the driver from Broadcom's official support page. Copy the "wl.ko" to "/lib/modules/*kernel-version*/kernel/drivers/net/wireless".

2: Install the following two packages with "rpm --nodeps":

akmod-wl-6.30.223.271-14.fc27.x86_64.rpm
kmod-wl-6.30.223.271-16.fc27.x86_64.rpm

This works for me and it's been stable for a long time.

[2019-11-14 10:54] ktb83 commented on #2
@antoineco @arun-gurung I figured I'd offer my experience. I had been experiencing freezes on Alpine Linux using this driver with kernel 4.19.80 and BCM4331. I didn't investigate it very far, but I'd usually see kernel panic and soft lockup messages before going down. I knew I had been using this driver version from Debian/Ubuntu for a while without this sort of problem on the same hardware. So, I

[2019-11-14 11:00] antoineco commented on #2
@ktb83 thanks, that's some useful feedback 👍
I'll check the differences with the Debian package. Did you push your changes somewhere by any chance?

[2019-11-14 11:03] ktb83 commented on #2
@antoineco I have not published the code, it's still just on my local machine here. I'll do a quick check on the commits I added.

[2019-11-14 11:14] ktb83 commented on #2
@antoineco
These are the Debian patches I added in from broadcom-sta_6.30.223.271-11.debian.tar.xz:
03-rename-to-wlan0.patch
04-user_ioctl.patch
05-remove-time-and-date-macros.patch
06-broadcom-sta-6.30.223.248-linux-3.18-null-pointer-crash.patch
07-rdtscl.patch
08-linux47.patch

[2019-11-15 06:09] ktb83 commented on #2
@antoineco Here are the commits -- https://github.com/ktb83/broadcom-wl/commits/patch-linux5.1

If you want, I can submit a pull request.

[2019-11-28 07:56] winehub opened #8 "label:bug apple device 14e4:43ba"
lspci -nn | grep Network
03:00.0 Network controller [0280]: Broadcom Inc. and subsidiaries BCM43602 802.11ac Wireless LAN SoC [14e4:43ba] (rev 01)

this apple device works with brcmfmac and should be exclude form broadcom-wl.

Thanks for exclusion.

[2019-11-28 07:58] antoineco commented on #8
@winehub not sure if I understand your intention. Why are you using broadcom-wl if it doesn't support your device?

[2019-11-28 08:01] winehub commented on #8
@antoineco I have a moveable storage with linux on 2 seperated apple computers. Need always to include or exclude the driver. Because of the firmware I need a cold start.

[2019-11-28 08:03] winehub commented on #8
iMac 5K 2016 loads this driver, but not working.

[2019-11-28 08:23] antoineco commented on #8
Sounds to me like the module shouldn't be loaded in the first place. Loading a kernel module is a user action, and if you load the OS on heterogeneous hardware, the correct approach is to selectively load modules during boot, before the network comes up:
[code]
You don't need a cold restart with that approach, modules can be loaded/unloaded dynamically, without blacklist.

Don't get me wrong, I un

[2019-12-20 20:50] arun-gurung commented on #2
I have emigrated from CentOS to Manjaro. The module still freezes my system. It sounds good with these patches, but how can I download them and apply them?

[2019-12-20 22:45] #8 closed, assigned to nobody

[2019-12-20 23:48] antoineco commented on #2
Thanks @ktb83, I cherry-picked the commits from your branch and changed the commit messages to point to their original bug reports.

@arun-gurung could you please try building the module from the `extra-patches` branch?
[code]

[2019-12-21 16:59] arun-gurung commented on #2
Thanks, but programming is over my head and all I can do is use "git clone". I need somebody to hold my hand, please.

$ git fetch
fatal: not a git repository (or any parent up to mount point /)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

$ git checkout extra-patches
fatal: not a git repository (or any parent up to mount point /)
Stopping at filesystem boundary (GIT

[2019-12-21 17:01] antoineco commented on #2
You have to execute this _inside_ the repository, _after_ performing a `git clone` (which you should already have done since you already built the driver).

[2019-12-21 17:22] arun-gurung commented on #2
Oh, yes.

My system used to freeze only seconds after loading the driver. Now it's been stable for 15 minutes. I hope this is a good present for the season and I can ditch my USB dongle. Merry Christmas!

[2019-12-21 18:20] antoineco commented on #2
Good to hear! Merry Christmas to you too 🙌

[2019-12-22 11:12] #2 closed, assigned to nobody

[2020-03-23 09:35] dcsouthwick opened #10 "Fails for gcc5+, kernel 5.4+"
Fails for modern kernels, modern gcc

https://bugzilla.rpmfusion.org/show_bug.cgi?id=5565

[code]

[2020-03-23 16:24] antoineco commented on #10
Thanks for reporting! Let's see if we can take that patch and make it backwards compatible.

[2020-03-31 17:21] antoineco commented on #10
@dcsouthwick I pushed a patch in 5633ca046506b71b63ef40938e7cb8e54ddeefca based on the bug report you shared, but currently I don't have access to the machine I own that has this network adapter. Would it be possible for you to try the code on the [`fix-kernel-5.4`](https://github.com/antoineco/broadcom-wl/tree/fix-kernel-5.4) branch?

[code]

[2020-04-02 02:30] aesophor opened #11 "gcc 9.2.0-r2: warning: this statement may fall through [-Wimplicit-fallthrough=]"
Hello, thank you so much for maintaining this open source driver!

The culprit is shown in the below code snippet:
[code]

My suggestion is that we should add a single-line comment "// fallthrough" before `default`, which documents the intention more clearly and also suppresses the warning.

Build log:
[code]

[2020-04-02 14:58] #11 closed, assigned to nobody

[2020-04-02 15:01] antoineco commented on #10
Closed by 5633ca046506b71b63ef40938e7cb8e54ddeefca

[2020-04-02 15:01] #10 closed, assigned to nobody

[2020-04-21 22:13] joker5bb opened #13 "broadcom BCM4360 firmware"
I have the
03:00.0 Network controller [0280]: Broadcom Inc. and subsidiaries BCM4360 802.11ac Wireless Network Adapter [14e4:43a0] (rev 03)

The wl driver works, but Im trying to upgrade to the open source brcmfmac driver and it requires firmware. How does this driver work without firmware?

[2020-04-22 06:20] antoineco commented on #13
Hi @joker5bb, first of all beware that the brcmfmac driver may not support the BCM4360 chip. To my knowledge this driver supports BCM43602, which is a different chip despite the very similar name. Last time I checked, only `wl` supported BCM4360.

Regarding the firmware, that's an interesting question. A firmware is usually a piece of software loaded in a device's memory. Linux only needs an extra

[2020-04-29 17:36] antoineco commented on #13
@joker5bb did you manage to make  the `brcmfmac` driver work with your BCM4360 chip?

[2020-05-03 18:36] newhacker1746 commented on #13
https://github.com/MerlinRdev/86u-merlin/tree/master/release/src-rt-5.02hnd/bcmdrivers/broadcom/net/wl/impl51/4365/src/wl

seems to have full src for wl including AP mode and bcm4360

[2020-05-13 14:01] antoineco commented on #13
I'm not sure if I understand exactly what the expectation is here, but I do hope I answered the original question. If not, feel free to re-open!

[2020-05-13 14:01] #13 closed, assigned to nobody

[2020-05-28 00:51] a8underscore opened #14 "seems to not work on kernal 5.6.14-1-default"
it works on 5.6.12-1-default tho

i installed it on my package manager

[2020-05-28 09:04] antoineco commented on #14
@a8underscore could you please elaborate on the error you're seeing? Is it a compilation or a runtime error?

[2020-05-28 14:43] a8underscore commented on #14
@antoineco hello just today a new update for this came out in my package manager and it seemed to have fixed the issue

[2020-05-28 14:43] #14 closed, assigned to nobody

[2020-08-19 08:03] bukyapavankumar opened #15 "i followed the instructions to automatically add wl via dkms but not working"
sudo dkms status
broadcom-wl, 6.30.223.271: added
nvidia, 390.138, 5.7.15-977.native, x86_64: installed

[2020-08-19 08:17] bukyapavankumar commented on #15
lspci -k doesnt show wl module ,but dkms status show

[2020-08-19 08:20] antoineco commented on #15
That's expected if you didn't reboot. Your module is **added**, not **installed**.

[2020-08-19 08:21] bukyapavankumar commented on #15
i did reboot

[2020-08-19 08:23] antoineco commented on #15
Could you please show the output of those 3 commands?
[code]
[code]
[code]

[2020-08-19 08:24] bukyapavankumar commented on #15
wl module not found

[2020-08-19 08:26] antoineco commented on #15
And maybe also `sudo dkms install broadcom-wl/6.30.223.271` if possible.

[2020-08-19 08:27] bukyapavankumar commented on #15
1. nothing
2.modprobe: FATAL: Module wl not found in directory /lib/modules/5.7.15-977.native

[2020-08-19 08:29] bukyapavankumar commented on #15
it works after this command.
dkms doesnt install it automatically?

[2020-08-19 08:30] bukyapavankumar commented on #15
mobile hotspot doesnt work though

[2020-08-19 08:31] antoineco commented on #15
Nice! That's an interesting behaviour, it should do it automatically because this option is defined:
https://github.com/antoineco/broadcom-wl/blob/a9362f4e4416d8e842b976fd243445711363ec24/dkms.conf#L7

May I ask what's the `dkms` version you're using? Maybe it requires an update to the `dkms.conf`.

[2020-08-19 08:32] bukyapavankumar commented on #15
dkms2.8

[2020-08-19 08:38] antoineco commented on #15
OK thanks. Maybe [`dkms_autoinstaller`](http://manpages.ubuntu.com/manpages/xenial/man8/dkms.8.html#dkms_autoinstaller) simply doesn't run on boot on your system. `systemctl status dkms` should tell you whether or not the service is enabled.

Regarding the mobile hotspot, unfortunately I only backport patches so the module can build and run on modern Linux kernels. Troubleshooting issues with spec

[2020-08-19 08:40] bukyapavankumar commented on #15
Unit dkms.service could not be found. distro: clear linux

[2020-08-19 08:43] bukyapavankumar commented on #15
actually mobile hotspot works but in wep .linux driver doesnt have wpa support whereas windows driver has it.anyway can we run/modify the driver to make it work?

[2020-08-19 08:57] antoineco commented on #15
Hmm, `wl` does support WPA/WPA2. I'm running this module on a Linux 5.6 kernel and my router (Linksys WRT1900AC) uses WPA2. I also occasionally connect to an Android 9 hotspot (Sony Xperia Z3 Compact) that is also using WPA2.

Some hardware may be supported better than some other, like with any driver. The purpose of this repo is not to provide a fork of `wl`, I wouldn't include patches that aren'

[2020-08-19 09:07] bukyapavankumar commented on #15
I mean it doesn't support creation of WPA/wpa2 supported hotspot .it can create only wep supported hotspot.  I wasn't talking about connecting to WPA/wpa2 hotspot instead creation

[2020-08-19 09:10] bukyapavankumar commented on #15
iw list
Wiphy phy0
	max # scan SSIDs: 1
	max scan IEs length: 0 bytes
	max # sched scan SSIDs: 0
	max # match sets: 0
	max # scan plans: 1
	max scan plan interval: -1
	max scan plan iterations: 0
	Retry short limit: 7
	Retry long limit: 4
	Coverage class: 0 (up to 0m)
	Supported Ciphers:
		* WEP40 (00-0f-ac:1)
		* WEP104 (00-0f-ac:5)
		* TKIP (00-0f-ac:2)
		* CCMP-128 (00-0f-ac:4)
		* CMAC (00-0f-

[2020-08-19 09:10] bukyapavankumar commented on #15
anyways closing this

[2020-08-19 09:10] #15 closed, assigned to nobody

[2020-08-19 09:55] antoineco commented on #15
@bukyapavankumar oh, my bad! Yes you're right about that. I wish Broadcom could support `wl` but unfortunately it seems like it's been completely abandoned.

[2020-09-08 03:24] dilyn-corner opened #16 "Build error -Wimplicit-function-declaration with 5.9-rc4"
Just looking towards the future here with this one. If I had any level of C knowledge, I would provide a patch. Based on my knowledge, the fix should be easy though!

In `src/wl/sys/wl_linux.c`, `segment_eq(get_fs(), KERNEL_DS)` is implicitly declared. It seems this is the only such function.

[2020-09-08 05:51] antoineco commented on #16
Thanks for reporting, @dilyn-corner! I haven't tried that kernel yet, but judging by the error I think you found the culprit.

I'll look into it.

[2020-09-10 09:36] antoineco commented on #16
I'm not entirely sure what happened yet, but [this patch](https://lore.kernel.org/linux-arch/20200710135706.537715-5-hch@lst.de/) (here is the [actual commit](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=428e2976a5bf7e7f5554286d7a5a33b8147b106a)) may have removed the declaration of `segment_eq` from `asm/uaccess.h`, which is included here:

https://github.com/antoi

[2020-09-10 09:48] antoineco commented on #16
Someone was actually faster to fix it :)

https://gist.github.com/joanbm/9e20b3842bb336379eccc12410901e37

I'm committing this right now. Thanks again 🙌

[2020-09-10 09:54] #16 closed, assigned to nobody

[2020-12-14 12:24] rainerklier opened #17 "build error on kernel 5.10"
trying to build driver in kernel 5.10 results in:
[code]

this is because of function `set_fs()` is not any more available in kernel 5.10

[2020-12-14 12:42] antoineco commented on #17
Thanks for reporting 👍  That one is definitely tricky. I've seen 2 attempts to fix it already:

* https://gist.github.com/joanbm/5c640ac074d27fd1d82c74a5b67a1290
* https://pkgs.rpmfusion.org/cgit/nonfree/wl-kmod.git/commit/?id=d18601cec354466a11aae2e9598121519fd8c74e

Let's see if they work.

[2020-12-14 12:56] rainerklier commented on #17
yes.
i think this is the same what i found:
https://lists.links2linux.de/pipermail/packman/2020-November/016479.html
https://pmbs.links2linux.org/package/show/home:manfred.h/broadcom-wl
https://pmbs.links2linux.org/package/view_file/Essentials/broadcom-wl/broadcom-wl.linux-5.9.patch?rev=ad63dd95e33c6cec99504e37af076606

[2020-12-14 13:28] rainerklier commented on #17
i tried the first in your list, which seems to be the same as the one i found (packman/links2linux), and it seems to work.

[2020-12-14 13:52] antoineco commented on #17
Right, the second one allows the module to build on 5.10, but not to run, unless I'm missing the point.

[2020-12-14 15:17] antoineco commented on #17
I have concerns with the first patch actually, because it effectively rewrites part of the code. This is likely to break backward compatibility and goes against Broadcom's software license agreement (the tiny patches applied in this repo are already a gray area). I'd prefer to avoid that.

According to the commit message in https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit

[2020-12-14 15:30] antoineco commented on #17
@rainerklier I have a (potential) fix ready in #18. Do you have cycles to test it?

[2020-12-14 15:36] rainerklier commented on #17
yes.
how/where can i download the source to try to build and run it?

[2020-12-14 15:37] antoineco commented on #17
You can download the Zip or clone the repo from https://github.com/antoineco/broadcom-wl/tree/linux-5.10 (notice the branch, "5.10").

[2020-12-14 15:51] rainerklier commented on #17
ok, i will try

[2020-12-14 16:46] rainerklier commented on #17
ok, i was able to compile and install the module.
but when the module loaded the following errors came up in dmesg:
[code]

[2020-12-14 17:12] antoineco commented on #17
My bad, I forgot to patch `src/wl/sys/wl_linux.c`, which also calls `get_fs()`. I just pushed another commit to the branch. Hopefully that is enough to fix the issue.

[2020-12-14 17:21] rainerklier commented on #17
i will give it a try.

[2020-12-14 21:36] rainerklier commented on #17
i saw the difference in file src/wl/sys/wl_linux.c, but the result is the same, when loading the module:
[code]

[2020-12-14 21:38] antoineco commented on #17
@rainerklier thanks a lot for spending the time to test it. Looks like I will have to take another route.

[2020-12-14 21:51] rainerklier commented on #17
no problem.

meanwhile i use a module which is created with the first patch.
i found out, that this patch was already used to create a module package for kernel 5.9.

i am in touch with the maintainer of https://build.opensuse.org/package/show/home:manfred-h:KMPs/broadcom-wl who creates the repository http://pmbs.links2linux.de:8080/Essentials/Factory/
about a month ago he created the wl module wi

[2020-12-17 11:58] rekeeszeng commented on #17
@antoineco  I tried branch 5.10 yesterday. The Wi-Fi adapter could not scan for networks. After changing the two files in #18, the same problem persisted. Branch 5.10 is gone now? Any suggestion on how I can get the driver working? Thanks.

[2020-12-17 12:09] rainerklier commented on #17
for me, the patch shown under https://build.opensuse.org/package/view_file/home:manfred-h:KMPs/broadcom-wl/broadcom-wl.linux-5.9.patch?expand=1 works

first, i tried it on the sources on my own, and it worked.
now, i use the already pre-compiled module from repo, which ist more easy. ;-)

[2020-12-17 12:28] antoineco commented on #17
@rainerklier yes the branch is gone because that patch wasn't enough to get the driver to work.

If the other patch works for you and you already found a package that includes it I'd suggest using that until I find a suitable approach without breaking backwards compatibility.

[2020-12-18 04:13] rekeeszeng commented on #17
This repo seems to be only for OpenSUSE? I'm on a Debian-based distro. I'll try the source. Thanks.

[2020-12-18 07:45] rainerklier commented on #17
yes, the repo is for opensuse.
but, as i wrote, before using the repo, i manually changed the source files following the patch and it worked.
and this will work on any distro.
yes, just download the source code from here, and manually do the patch and build module manually.

[2020-12-18 08:39] rekeeszeng commented on #17
I made all the changes described in the patch for kernel 5.9 and then installed kernel 5.10. It worked! Thanks a lot.

[2020-12-29 15:49] loopingstrategy commented on #17
Hello,

I used Ubuntu 20.10 with kernel 5.10.3

I tried to apply the patch https://build.opensuse.org/package/view_file/home:manfred-h:KMPs/broadcom-wl/broadcom-wl.linux-5.9.patch?expand=1 but i had the following error  :

` *** No rule to make target 'scripts/module.lds', needed by`

And i found a  quick fix https://github.com/Mange/rtl8192eu-linux-driver/issues/205#issuecomment-736366347

If it

[2021-01-11 16:48] SukkoPera commented on #17
I also applied [this patch](https://gist.github.com/joanbm/5c640ac074d27fd1d82c74a5b67a1290) manually and it seems to be working fine for me, too.

I'm attaching the diff wrt current HEAD, hopefully more people can test it.

Thanks for this repo, btw!

[broadcom-wl-fix-linux-5.10.patch.txt](https://github.com/antoineco/broadcom-wl/files/5797120/broadcom-wl-fix-linux-5.10.patch.txt)

[2021-03-11 23:44] antoineco commented on #17
Thank you everyone for your patience, and sorry for the delay! I have backported the patch in a backward-compatible way (all credits go to the original author and to @NVieville who contributed this to RPM Fusion).

[2021-03-11 23:44] #17 closed, assigned to nobody

[2021-04-16 03:26] gusarg81 opened #19 "Does this driver support AP mode?"
Hi,

I don't know if is the right place to ask. Currently I have a TP-LINK Archer T9E PCIE board with BCM4360 ( Broadcom Inc. and subsidiaries BCM4360 802.11ac Wireless Network Adapter (rev 03)) and seems that with the propietary driver AP mode is not available.

I've compiled and installed this one and seems the same thing. Do you know if is a hardware or software problem?

Thanks.

[2021-04-16 06:46] antoineco commented on #19
Hi @gusarg81, I remember somebody asked that question some time ago in #1, but the answer was unfortunately _no_. This driver only supports the standard ad-hoc mode.

[2021-04-16 13:13] gusarg81 commented on #19
Ok, thanks for replying @antoineco.

[2021-05-07 16:45] koosvriezen opened #20 "Linux 5.12.0 gives rfkill: "Cannot get wiphy information""
The wifi does work despite the warning, it has become very slow with connecting.
Based on [cfg80211: change netdev registration/unregistration semantics](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=linux-5.12.y&id=2fe8ef106238b274c505c480ecf00d8765abf0d8)
I came up with the following patch, which for me at least resolves the issue. Though I'm not sure both netdev reg

[2021-05-07 17:59] antoineco commented on #20
@koosvriezen thanks for reporting! The patch looks reasonable ✅

[2021-07-16 21:42] satmandu opened #21 "Higher 5ghz channels?"
Is there a way to get higher 5Ghz channels working with this driver?

All I see are lower channels below 100:
[code]

[2021-07-19 21:58] #19 closed, assigned to nobody

[2021-07-19 22:05] antoineco commented on #21
@satmandu I believe it should be able to support up to 224 channels, by looking at this constant which is used in a few places:

https://github.com/antoineco/broadcom-wl/blob/34633bb3c243eb060d33b144836d05b143517892/src/shared/bcmwifi/include/bcmwifi_channels.h#L44

I assume you've ensured the access point supports higher frequencies, based on your geographical location?

[2021-07-19 22:14] satmandu commented on #21
Yes. I will try rebuilding...

[2021-08-09 21:07] satmandu commented on #21
Rebuilt.
No difference.
[code]

Any suggestions for debug output to help figure out where this is going wrong?

The SSID is broadcasting on channel 149, and is visible when I reboot into macos.

[2021-08-09 21:10] satmandu commented on #21
More info:
dmesg:
[code]
lspci:
[code]

[2021-08-09 21:15] satmandu commented on #21
I wonder if this is a firmware issue which can be addressed by newer firmware we might be able to extract from newer apple drivers? e.g. the drivers in https://support.apple.com/en-us/HT209600 as mentioned here:

https://blog.quarkslab.com/reverse-engineering-broadcom-wireless-chipsets.html

[2021-08-10 00:07] antoineco commented on #21
Maybe, but the aim of this repo is simply to patch `wl` for recent Linux kernels. There is no active feature enhancement or bug fixing of Broadcom's proprietary code happening here.

The BCM4360 chip was always somewhat problematic because it isn't supported by open-source alternatives to Broadcom's drivers like [`brcm80211`](https://wireless.wiki.kernel.org/en/users/Drivers/brcm80211). I heard it

[2021-08-10 00:18] antoineco commented on #21
Very interesting article btw! Long read but good read, a lot of precious information about those firmwares.

[2021-08-10 02:40] satmandu commented on #21
I really hope we can get these firmwares patched to fix these issues. Insane that this fairly recent hardware has such broken linux drivers.

[2021-08-10 05:52] satmandu commented on #13
Sorry to necrobump, but @joker5bb did you ever get a working brcmfmac driver for that card? Another ID I'm seeing in Broadcom header files for this card appears to be BCM4360_D11AC_ID, for instance here: https://github.com/RMerl/asuswrt-merlin.ng/blob/6b60627c8c9c5c0271e956c914afb5277f81f9c4/release/src-rt-6.x.4708/include/bcmdevs.h

Did the Cypress acquisition of Broadcom's IoT IP get them the in

[2021-10-21 01:39] rvernica opened #22 "modprobe: ERROR: could not insert 'wl': Key was rejected by service"
Here is what I did:
[code]
[code]
More info:
[code]

[2021-10-21 06:27] antoineco commented on #22
Hey @rvernica 👋 Thanks for the report.

People in the following discussion claim that Fedora enforces that modules are signed before they can be loaded: https://github.com/umlaeute/v4l2loopback/issues/394.
A solution was proposed, but maybe it is also possible to disable this security mechanism if it's getting in your way (I'm not sure).

[2022-01-04 17:08] wreckdump opened #23 "Connection bitrate show up as 0 kb/s"
I am using BCM43228 card, the connection is fine and it works, but the connection bitrate shows up as 0 kb/s. With an Intel card, it worked fine. My setup is like the following

OS : Arch Linux (5.15.12)
Network manager : wpa_supplicant
Windows manager : i3 WM with i3 status bar

`i3status` bar queries `nl80211` driver output, I think. So, I tried forcing `wpa_supplicant` to use `nl80211` driver,

[2022-01-04 17:23] antoineco commented on #23
@wreckdump there won't be any feature or bug fix implemented in this repository. The code is the property of Broadcom and I simply apply patches that make it work on recent versions of the Linux kernel.

With that being said, I see your card is a BCM43228. Wouldn't the [b43 driver](https://wireless.wiki.kernel.org/en/users/Drivers/b43#Supported_devices) be more suitable for that chip?

[2022-01-04 17:54] wreckdump commented on #23
Ahh! I was under the impression that `broadcom-wl` would work fine. I'll try `b34`.Thanks!

[2022-01-04 17:54] #23 closed, assigned to nobody

[2022-03-11 15:44] antoineco commented on #22
Closing due to inactivity.
Also, the issue is related to the operating system's security, and not that particular module.

[2022-03-11 15:44] #22 closed, assigned to nobody

[2022-03-11 15:45] antoineco commented on #21
Closing because I feel like everything has been discussed, and the issue is related to the core features of the module itself, which I'm not the author of and am not allowed to modify based on the software license.

[2022-03-11 15:45] #21 closed, assigned to nobody

[2022-04-29 09:55] andreock opened #24 "Problem with BCM43142"
Hi. I have problem with BCM43142 and HP x360 i3-4010T on Ubuntu 16,18,20 and 22.
The card result hard blocked in rfkill but there are no buttons.
When i try to up the interface up the wl driver return error -1 in dmesg.
Any solution?

[2022-04-29 10:51] antoineco commented on #24
Hi @Andrea055 👋
I have a feeling that this card would be better supported by the open [brcm80211](https://wireless.wiki.kernel.org/en/users/drivers/brcm80211) driver. Have you tried it?

[2022-04-29 10:55] andreock commented on #24
Already, tried but wifi not Is reconized

[2022-04-29 11:17] antoineco commented on #24
According to [this Wiki](https://wiki.ubuntuusers.de/WLAN/Karten/Broadcom) (in German) you need this additional Broadcom Bluetooth firmware: https://github.com/winterheart/broadcom-bt-firmware

_tl;dr;_

[code]

Take note of the expected `.hcd` file name. In this example, it is `BCM20702A1-0b05-17cb.hcd`.
Then copy it from the aforementioned repository:

[code]

Unfortunately I don't have this dev

[2022-05-04 10:45] andreock commented on #24
I install this  but not work, any other solutions?

[2022-05-04 10:55] antoineco commented on #24
Unfortunately I don't know. This chip doesn't seem to be well supported on Linux due to the dual Bluetooth+WiFi functionalities, if I understood everything correctly.

Most of the workarounds I see on the internet rely on files extracted from Windows drivers.

Still, the link I shared with you seems reliable. Could you please post the output of all the commands I wrote above? Maybe there is someth

[2022-05-09 10:53] djdisodo opened #25 "arm build"
[repo](https://github.com/Jackysi/advancedtomato/tree/advancedtomato-ac/release/src-rt)
it's not open source tho we can get sources

this driver may also support ap mode
which can be used on routers

[2022-05-09 12:01] antoineco commented on #25
Could you please be more specific about the request?

I do see a `wl/` directory at the link you shared, but it contains the version `v5.110.27.20012` of the `wl` driver, while this repository is based on `v6.30.223.271`.

[2022-05-09 12:17] djdisodo commented on #25
@antoineco can you check [here](https://github.com/Jackysi/advancedtomato/tree/advancedtomato-ac/release/src-rt-6.x/wl/linux)?

i want to get this worked on my router,
i couldn't get any wl drivers for arm that works on current kernel
but this link seems to include arm blobs, and some more for ap mode

do you have any idea i can use these blobs to compile kernel mod for current kernel?

[2022-05-09 12:47] antoineco commented on #25
The repository doesn't seem to contain any information about the driver, it's all very opaque. I can't even tell whether the artifacts have anything to do with the original `wl` driver since the source isn't available.
I'm afraid I don't know more than you unfortunately.

[2022-05-09 12:59] djdisodo commented on #25
[code]
this is the error i got when i just replaced wlc_hybrid with wl_sta.o

according to objdump wlc_sta and wlc_hybrid has many intersections in symbols(objdump -t)

[2022-05-09 13:21] antoineco commented on #25
I don't think I'll be able to help with this. `broadcom-wl` does **NOT** support ARM, neither does it support AP mode for modern hardware.

If you want to install a Linux-based system on a router, I recommend looking into [OpenWRT](https://openwrt.org/docs/techref/hardware/soc/soc.broadcom.bcm47xx) (which apparently you did).

Also, the `b43` or `brcm80211` drivers might be a better choice for you

[2022-05-09 13:42] djdisodo commented on #25
let me just post information i gathered
there are three blobs here
https://github.com/Jackysi/advancedtomato/tree/advancedtomato-ac/release/src-rt-6.x/wl/linux
i guess sta stands for standard (client mode)
and ap stands for ap mode

and apsta for both

there's some source here
https://github.com/Jackysi/advancedtomato/tree/advancedtomato-ac/release/src-rt-6.x/linux/linux-2.6/drivers/net/wl
i don't

[2022-05-09 13:47] #25 closed, assigned to nobody

[2022-06-02 09:11] fanlinbj126com opened #26 "can not support AP mode."
lsapi
[code]

iw list
[code]

[2022-06-02 10:15] antoineco commented on #26
@fanlinbj126com that is unfortunately the case, and a limitation of this aging driver. `broadcom-wl` is capable of operating in AP mode, but only with old BCM47xx devices as far as I know.

Here is a good comparison of existing Broadcom drivers for Linux, with their tradeoffs: https://openwrt.org/docs/techref/hardware/soc/soc.broadcom.bcm47xx#broadcom-wl

[2022-06-02 12:19] antoineco commented on #26
@fanlinbj126com I just looked and the [brcm80211](https://wiki.debian.org/brcm80211) driver supports your device. Would that maybe allow you to enable the AP mode?

[2022-06-05 21:16] antoineco commented on #24
Closing due to inactivity, and because the problem seems to be related to the Bluetooth functionality of this device.

[2022-06-05 21:16] #24 closed, assigned to nobody

[2022-07-07 09:21] antoineco commented on #26
Closing due to inactivity.

[2022-07-07 09:21] #26 closed, assigned to nobody

[2022-07-07 09:52] antoineco opened #27 "Warning about implicit fallthrough since Linux 5.14"
This warning is back, despite the fallthrough comment added in #12:

[code]

https://gcc.gnu.org/onlinedocs/gcc-12.1.0/gcc/Warning-Options.html#index-Wimplicit-fallthrough

For kernel versions ≥ 5.4, we should probably switch to the `fallthrough` pseudo-keyword:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=294f69e662d1570703e9b56e95be37a9fd3afba5

[2022-07-07 10:08] antoineco commented on #27
It turns out the default value for `-Wimplicit-fallthrough` is `5` since Linux 5.14: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=b7eb335e26a9c7f258c96b3962c283c379d3ede0

[2022-07-07 10:37] #27 closed, assigned to antoineco

[2022-07-07 11:02] antoineco opened #29 "Warning about redefined 'isprint' macro with GCC 12"
GCC 12 is complaining about the `isprint` macro which is redefined here as an alias to `bcm_isprint`:

https://github.com/antoineco/broadcom-wl/blob/6175bee2f67635119f6782996c52ce3a5b73f9f7/src/wl/sys/wl_iw.h#L73

[code]

The original definition is here: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/include/linux/ctype.h?id=v5.18#n30

It isn't clear to me why this macro i

[2022-07-07 11:32] #29 closed, assigned to nobody

[2022-08-15 13:54] satmandu opened #31 "needs patching for 6.0-rc1"
There's a version of a patch for arch available here: https://gist.github.com/joanbm/207210d74637870c01ef5a3c262a597d

But that doesn't apply cleanly to this.

[2022-08-15 14:02] satmandu commented on #31
Looks like a solution is here: https://github.com/supremegamers/broadcom-wl/commit/078a1afe3ebc5f70aaf7b17fc70d7fb57584ca26

[wl.diff](https://github.com/antoineco/broadcom-wl/files/9337623/wl.diff.txt)

[code]

[2022-08-15 14:02] antoineco commented on #31
Thanks for the heads up! 🙌
I haven't had the occasion to try 6.0 yet. I'll make sure to patch and test before the release.

[2022-08-15 14:04] satmandu commented on #31
The aforementioned patch works for me:

[code]

[2022-08-15 14:10] satmandu commented on #31
[code]

[2022-08-15 16:40] antoineco commented on #31
Closed by 933540c63f33e6ac2825d65c4b681ef3387d9146.

Corresponding CI run on kernel `6.0.0-0.rc1.13.fc38.x86_64`: https://github.com/antoineco/broadcom-wl/actions/runs/2862054697.

Thank you again for reporting and testing 👍

[2022-08-15 16:40] #31 closed, assigned to nobody

[2022-08-18 12:27] satmandu opened #32 "WARNING: CPU: 4 PID: 409095 at net/wireless/sme.c:823 __cfg80211_connect_result+0x5ed/0x680 [cfg80211]"
Not sure if anyone else is seeing this, but I've seen this with both the 5.19 and 6.0-rc1 kernels, and maybe earlier too...

[code]

[2022-08-20 20:26] antoineco commented on #32
@satmandu what are the messages preceding this trace?

Is the WiFi link actually disrupted?

[2022-08-21 21:46] satmandu commented on #32
Now I'm getting a different issue...

[code]
[dmesg.txt](https://github.com/antoineco/broadcom-wl/files/9389989/dmesg.txt)

[2022-08-21 21:46] satmandu commented on #32
Wifi link has weird dropouts at times...

[2022-10-30 09:29] antoineco opened #35 "GPL-incompatible module wl.ko uses GPL-only symbol"
I started seeing this error message in the [CI environment](https://github.com/antoineco/broadcom-wl/actions/runs/3353399908) while building `wl` on Fedora 38 (Rawhide) against the [6.1.0-0.rc2.20221028git23758867219c.24.fc38](https://bodhi.fedoraproject.org/updates/FEDORA-2022-15902a067e) kernel.

[code]

While I understand its [meaning](https://opensource.stackexchange.com/q/4185/28321), I'm sur

[2022-11-05 19:07] antoineco commented on #35
I found a (much) older reference to the same issue at https://www.reddit.com/r/Fedora/comments/oemxbs/fedora_rawhide_broadcomwl_wont_compile_gplonly/. The issue _could_ be caused by the usage of a debug kernel.

edit: it was indeed caused by Fedora Rawhide's debug kernels. Closing

[2022-11-06 11:00] #35 closed, assigned to nobody